* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

-img {
	border: 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
	transition:all .2s ease-in-out;
}

body {
	overflow-x: hidden;
	font-family: $font-theme;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 400;
}

a {
	color: $color-theme;
	text-decoration: none;
}

nav {
	list-style-type: none;
	display: inline;
}

-header {
	display: block;
	background: url('..//img/header-bg.jpg');
	background-size: 100vw;
	height: 100vh;
	background-position: top center;
	padding-top: 100px;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}

main {
	background: rgba(0,0,0,0.1);
	display: block;
}

aside {
	display: block;
	background: rgba(0,0,0,0.1);
}

button {
	outline: 0;
	border: 3px;
	cursor: pointer;
	font-size: 1rem;
	background: transparent;
	transition: all .2s ease-in-out;
}

hr {
	border: 1px solid currentColor;
	width: 100%;
	display: block;
}

blockquote {
	background-color: rgba(151, 178, 232, 0.27);
	padding: 15px;
}

footer {
	width: 100%;
	clear: both;
	padding: 10px 0;
	position: relative;
	color: $text-white;
	background: $bg-dark;
}

ol {
	display: block;
}

section {
	width: 85vw;
	height: 100vh;
	margin: 0 auto 0 auto;
	text-align: center;
}

.full {
	width: 100%;
	height: 100vh;
	display: block;
}

.hidden {
	display: none;
	visibility: hidden;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.center-block {
	margin-right: auto!important;
	margin-left: auto!important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.flex {
	display: flex;
	&-column {
		flex-direction: column;
	}
	&-row {
		flex-direction: row;
	}
	&-center {
		justify-content: center;
	}
	&-left {
		justify-content: flex-start;
	}
	&-right {
		justify-content: flex-end;
	}
	&-top {
		align-items: flex-start;
	}
	&-middle {
		align-items: center;
	}
	&-bottom {
		align-items: flex-end;
	}
}

.top-buffer {
	padding-top: 50px;
}

.transparent {
	background: transparent!important;
}

.container {
	margin: 0 auto 0 auto;
	height: 400px;
	display: flex;
	&-column {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&-row {
		flex-direction: row;
	}
}

#firstsection {
	height: 40vh;
	margin-top: 30vh;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url('..//img/header-bg.jpg');
	background-size: cover;
	height: 130vh;
	background-position: top center;
	padding-top: 100px;
	background-repeat: no-repeat;
}

#logo {
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;
}

#o-que-fazer {
	font-size: 38px;

}

#crie-vantagens {
	padding-top: 20px;
	font-size: 11px;
}

#mouse {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	padding-bottom: 30vh;
}

#gestao {
	font-size: 14px;
	text-align: center;
}

#library {
	height: 500px;
	margin: auto;
	width: 100vw;
	background-color: #000;
	img {
		width: 50vw;
	}
}

.left {
	text-align: left;
}

#conhecimento {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto auto auto 80px;
	h2 {
		color: #fff;
	}
}

.icon {
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	img {
		width: 70px;
		height: 70px;
	}
	b {
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}

#podemos {
	margin: 50px auto 50px auto;
	justify-content: space-around;
}

#footer {
	width: 100vw;
	background-color: #000;
}

#contato {
	margin: 50px auto 50px 7.5vw;
	display: flex;
	flex-direction: column;
	width: 42.5vw;
	color: #fff;
	.btn {
		color: #fff;
		margin: 10px 0;
	}
	form {
		height: 180px;
	}
}

#icons {
	display: flex;
	flex-direction: row;
}

#button {
	display: block;
	margin: 0 auto 0 0;
	.btn {
		color: #fff;
		margin: 10px 0;
	}
}

#voce-conhece {
	padding: 50px 0;
	justify-content: space-around;
	background-color: #fff;
}

#title {
	padding: 50px 0;
}