doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Infoco
    link(rel='stylesheet', href='css/style.css')
    link(rel='icon', href='img/alpha.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width; initial-scale = 1.0; \
    maximum-scale=1.0; user-scalable=no')
  body
    header#header
      .container.container-column
        #logo
          img(src='img/infoco-logo.png', width='150px')
      .container.container-column#title
        h1#o-que-fazer o que 
          br 
          | fazer 
          br
          | com tanta 
          br
          b informação?
        h2#crie-vantagens crie vantagens competitivas através da gestão estratégica da informação. saiba mais.
      .container.container-column#mouse        
          img(src='img/mouse-icon.png', width='50px')
    .container.container-column#voce-conhece  
      img(src='img/help-icon.png', width='120px' height='120px')
      h2 você conhece a 
        br
        b gestão da informação
        |?
      span#gestao A gestão da informação é uma área nova das ciências sociais, que permite juntar conceitos de Biblioteconomia, Administração e Sistemas de Informação, possibilitando em uma resolução multidisciplinar. Isso nos permite resolver problemas relacionados à gestão documental com o embasamento teórico da Biblioteconomia e o aspecto prático da Administração.
    .container#library
      img(src='img/library.jpg')
      #conhecimento
        h2.left quer gerar 
          br
          | conhecimento e tomar 
          br
          | conta do mercado?
          br 
          b nós podemos te ajudar.
        #button
          .btn.btn-blue Como?
    .container.container-column#podemos
      h2 como podemos te ajudar?
      .row#icons
        .icon
          img(src='img/preservacao-icon.png')
          b preservação digital
        .icon
          img(src='img/gestao-do-conhecimento-icon.png')
          b gestão do conhecimento
        .icon
          img(src='img/pesquisa-de-mercado-icon.png')
          b pesquisa de mercado
        .icon
          img(src='img/capacitacao-icon.png')
          b capacitação
    .container#footer
      #contato
        .row
          h2.left
            b contato
        form
          .row 
            .col-6
              label(for='name')
              input(type='text', id='name', name='name', placeholder='Digite seu nome')
            .col-6 
              label(for='name')
              input(type='text', id='name', name='name', placeholder='Digite seu nome')
          .row  
            label(for='name')
            input(type='text', id='name', name='name', placeholder='Digite seu nome')
          .row
            .btn.btn-blue Enviar
      #contato
        .row
          h2.left
           b siga-nos no facebook
        .row
          img(src='img/fb-container.jpg', height='180px')    